<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>52North SOS-SES-Feeder</display-name>
	<servlet>
		<servlet-name>SosSesFeeder</servlet-name>
		<servlet-class>org.n52.sos.feeder.baw.SosSesFeeder</servlet-class>
		<init-param>
			<param-name>CONFIG_FILE</param-name>
			<param-value>/WEB-INF/classes/configuration.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>SosSesFeeder</servlet-name>
		<url-pattern>/SosSesFeeder</url-pattern>
	</servlet-mapping>
</web-app>
